<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>后台管理</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="<?=base_url('public/admin/css/login/style.css');?>">
</head>

<body class="page-login-v3">
    <div class="container">
        <div id="wrapper" class="login-body">
            <div class="login-content">
                <div class="brand">
                    
                    <h2 class="brand-text">后台系统</h2>
                </div>
                <form id="login-form" class="login-form">
                    <div class="form-group">
                        <input class="" name="user[user]" placeholder="请输入用户名" type="text" required>
                    </div>
                    <div class="form-group">
                        <input class="" name="user[password]" placeholder="请输入密码" type="password" required>
                    </div>
                    <div class="form-group">
                        <button id="btn-submit" type="submit">
                            登录
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="<?php echo base_url('public/js/jquery.form.min.js');?>"></script>
<script src="<?php echo base_url('public/vendor/layer/layer.js');?>"></script>
<script>
 $(function(){
	$(function () {
        // 表单提交
        var $form = $('#login-form');
        $form.submit(function () {
            var $btn_submit = $('#btn-submit');
            $btn_submit.attr("disabled", true);
            $form.ajaxSubmit({
                type: "post",
                dataType: "json",
                success: function (result) {
                    $btn_submit.attr('disabled', false);
                    if (result.code === 1) {
                        layer.msg(result.msg, {time: 1500, anim: 1}, function () {
                            window.location = result.url;
                        });
                        return true;
                    }
                    layer.msg(result.msg, {time: 1500, anim: 6});
                },
                error:function(e){
                    console.log(e);
                }
            });
            return false;
        });
    });
})
 
</script>
</html>