.bg_w {
		background:#fff;
	}
	.border-b-1{
		border-bottom:1px solid #ccc;
	}
	.flex{
		display:flex
	}
	.p10{
		padding:10px 0;
	}
	.mlr20{
		margin:0 20px;
	}
	.detail{
		line-height:50px;
	}
	.sel_nav{
		background:#ccc;
    }
    .sel_nav1{
        background: #555;
    }
    
    .doctor_url{
        
        border:1px solid #ccc;
        background: #fff;
        /* background-image: url('../images/1.png'); */
        display:inline-block;
        vertical-align:top;
        background-size: 100px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    .webuploader-container{display:inline-block;
        vertical-align:top;}



li{list-style: none;}
*, ul{ margin: 0px; padding: 0px;}
/* .wap_app{} */
.login_area{ padding:67px 15px 70px; margin: 0 auto;  width:768px; box-sizing:border-box;}
.login_area h3{ font-size:38px; margin-bottom:64px; text-align:center;}
.login_box { padding:36px 70px; background:#fff; margin-bottom:36px;}
.input-group{ display:table; border-collapse:separate;  width:100%;}
.input-group label{ display:block;  font-size:20px; line-height:24px; margin-bottom:12px;}
.input-group input{ height:55px; padding:12px 15px; box-sizing:border-box; font-size:24px; line-height:26px; border:1px solid #d9d9d9; color:#2e2e2e; width:100%;}
.input-group select{ width:100%; height:55px;}
.input-group option{ height: 32px; line-height: 32px; padding: 0px 5px; cursor: pointer;}
.input-group button{ width:100%; height:40px; line-height:40px; color:#fff; background:#297FCA; border:1px solid #297FCA}
.log-bottom{ text-align:center;}
.forgot{ margin-bottom:10px; display:inline-block;}
.new{ display:block;}
.country{ border:1px solid #d9d9d9; height:55px;  box-sizing:border-box;}
.country span{ display: inline-block;line-height:55px; margin-left:15px;}
.country i{ position:relative; line-height:50px;  margin-right:15px;}
.country_list{ border-collapse:separate; max-height:200px; width:100%; overflow-y:auto;cursor:pointer;position: absolute; z-index: 1; background: #fff; left: 0px; top: 91px; }
.country_list.sel{ display:block;}
.country_list li{ height:55px; line-height:55px; box-sizing:border-box; padding:0 15px; border:1px solid #d9d9d9;  }


#page-wrapper{
    background: #f2f4f8;
}

input.error, textarea.error, select.error, .country.error{ border-color:red;}

/* .nav_login{} */
.nav_login li{ width:50%; text-align:center; top:1px; position:relative; }
.nav_login li a{ margin-right:0px; }
.nav>li>a:hover{ outline:none; text-decoration:none; background:#e7e7e7; }
.nav>.active>a:hover{ background:#fff; color:#555;}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.show {
    display: block!important;
}
.nav>li {
    position: relative;
    display: block;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.text-center{
     text-align: center;
}
.header{
 background: #ccc;
}
.header_title{
   text-align: right; 
}
.footer{
    position: fixed;
    width: 100%;
    height: 40px;
    line-height: 40px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.footer li{
    font-size: 16px;
    flex: 1;
    border-top: 1px solid #ccc;
}
.footer li a{
    text-align: center;
    display: block;
    color: #297FCA;
}
.footer li.select{
    background: #297FCA;
}
.footer li.select a{
    color:#fff;
}
.pointer{
    cursor: pointer;
}

.white-color{
    color:#fff;
}
.pink-bg{
    background-color:#ff629a;
}
.graphs{
    /* max-height: calc(100vh - 352px);
    box-sizing: border-box;
    overflow-y: auto; */
}
.well1 {
    
}
.Calendar_area{
    max-height: calc(100vh - 430px);
    box-sizing: border-box;
    overflow-y: auto;   
}
.sel_area{
    height: 300px;
    width: calc(100% - 250px);
    background: #fff;
    position: fixed;
    bottom: 0px; left: 250px;
    padding: 20px;
}
.sel_date{
    text-align: center;
    font-size: 26px;
    margin-bottom: 5px;
}

.table tr:hover{
    background: #e6f7ff;
}

.cover_area{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 1000;
}
.show{
    /* display: block; */
}
.hidden{
    display: none;
}
.w100{
    width: 100%;
}

/* timeline */
.bg_gay{
    background: #2e2e2e;
    
}
.opacity05{
    opacity: 0.5;
}
.full{
    width: 100%;
    height: 100vh;
}
.close_box{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.close_box i{
    font-size: 24px;
}
.show_table tbody tr td{
    line-height: 34px;
}
.hour_area{
    position: fixed;
    width: 800px;
    height: 50vh;
    left: calc(50% - 400px);
    top: 25vh;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y:auto;
}
.hour_area h3{
    text-align: center;
}
.input_quota{
    width: 40px;
    text-align: center;
}

.seltime_area{
    position: fixed;
    width: 400px;
    height: 250px;
    left: calc(50% - 200px);
    top: calc(50vh - 125px);
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y:auto;
    border: 1px solid #ccc;
}
.seltime_area h3{
    text-align: center;
}
/* timeline */


@media (max-width:768px){
    .login_area{ width:90%;}
    .days>div{ height: 40px;}
    .date_box{
        height: auto;
    }
    .days{
        height: auto;
    }
    .sel_area{
        left:0px;
        width: 100%;
    }
}